

.btn_cadastro {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #24252a;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

/* Modal - .terms-box */ 
.modal_termo {
    display: none; /* Esconder o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    color: #fff;
    font-family: "Montserrat";
    padding: 60px 30px;
    
    height: 100%;
    width: 100%;
}
/* .terms-text */
.modal-content_termo {
    margin: 0 auto; /* 15% from the top and centered */
    width: 60%; /* Could be more or less, depending on design */ /**/
    
    padding: 50px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color: #f1f1f1;
    text-align: justify;
    background-color: #111; 
}
.modal-content_termo p {
    color: #ECECEE;
    font-size: 18px;
}

.modal-content_termo h2 {
    text-align: center;
}
.modal-content_termo::-webkit-scrollbar{
    width: 5px;
    background-color: #282828;
}
.modal-content_termo::-webkit-scrollbar-thumb{
    background-color: #d13639;
}
.modal-content_termo h2{
    text-transform: uppercase;
}
.modal-content_termo h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}
.modal_termo h4 span{
    color: #d13639;
}
.modal-content_termo .btn {
    height: 50px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transform: .3s linear;
    cursor: pointer;
}
.modal-content_termo .red-btn{
    background-color: #d13639;
}
.modal-content_termo .gray-btn{
   background-color: #282828; 
}
.modal-content_termo .btn:houver{
    opacity: .6;
}

/* Fechar botão */
.modal-content_termo .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal-content_termo .close:hover,
.modal-content_termo .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Títulos e texto */
/* Botões */
.modal-content_termo button {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.modal-content_termo button:hover {
    background-color: #3e8e41;
}


/* CSS - MODAL CADASTRO  */
.modal,
.modal_cadastro {
    display: none; /* Initially hidden */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    
    text-align: center;
}
.modal h2,
.modal_cadastro h2  {
    color: #F09102;
    margin: 20px;
}
.modal-content,
.modal-content_cadastro {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 22%; /* Could be more or less, depending on design */ /**/
}
    
#modalForm label,
#modalForm_cadastro label,
#modalForm_Setor label,
#modalForm_Analise label {   /* ----------- */
    color: #808080;
    font-size: 18px;
}
#modalForm input,
#modalForm textarea,
#modalForm_cadastro  input,
#modalForm_cadastro textarea,
#modalForm_Setor input,
#modalForm_Setor textarea,
#modalForm_Analise input,
#modalForm_Analise textarea   {
    margin: 5px;
}

#observacao,
#observacao_prazo,
#observacao_Setor {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 95%; /* Ajuste a largura conforme necessário */
    height: 50px; /* Ajuste a altura conforme necessário */
    resize: none; /* Impede o usuário de redimensionar o textarea */
}
/* Close Button Styles */
.close-button,
.close-button_cadastro {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
    
.close-button:hover,
.close-button:focus,
.close-button_cadastro:hover,
.close-button_cadastro:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
   
/* Form Styles (same as before) */
#modalForm_cadastro input[type="text"],
#modalForm_cadastro input[type="number"],
#modalForm_cadastro input[type="email"],
#modalForm_cadastro input[type="date"],
#modalForm_cadastro input[type="tel"],
#modalForm_Setor input[type="text"],
#modalForm_Setor input[type="number"],
#modalForm_Setor input[type="email"],
#modalForm_Setor input[type="date"],
#modalForm_Setor input[type="tel"],
#modalForm_Analise input[type="text"]{  /* ----------- */
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
hr {
    margin: 12px;
}
#modalForm #op_Vendedor,
#modalForm #op_Supervisor,
#modalForm #op_Cliente {
    display: inline-block; 
    margin: 3px;
}
#modalForm_cadastro #op_Vendedor_cad,
#modalForm_cadastro #op_Supervisor_cad,
#modalForm_cadastro #op_Cliente_cad {
    display: inline-block; 
    margin: 3px;
}
#modalForm_cadastro .btn {
    margin-top: 20px; /**/
    height: 30px;
    width: 120px;
    text-align: center;
    background-color: #007bff;
    color: #ECECEE;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
